# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-server
run-data

# Files from Forge MDK
forge*changelog.txt
.vscode/launch.json
.gitignore
.vscode/tasks.json
libs/create-1.20.1-0.5.1.j.jar.bak
libs/create-1.20.1-0.5.1.j.jar
